---
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import { getProducts } from "../api/server";
import {formatPrice} from "../utils/price";

const { products } = await getProducts(51);
---

<Layout title="My lil Shop">
	<main>
		<h1>My lil Shop</h1>
		<div class="productGrid">
			{products?.items.map(product => (
				<Card title={product.name} body={product.description} price={formatPrice(product.variants[0].price)} href={`product/${product.slug}`} imgSrc={product.featuredAsset?.preview}/>
			))}
		</div>
	</main>
</Layout>

<style>


	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.productGrid {
		display: grid;
		grid-template-columns: repeat(3, minmax(300px, 1fr));
		gap: 1rem;

		@media (max-width: 1000px) {
			grid-template-columns: repeat(2, minmax(300px, 1fr));
		}

		@media (max-width: 700px) {
			grid-template-columns: repeat(1, minmax(300px, 1fr));
		}
	}

</style>
